.card {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  border: 1px solid #e0dcdc65;
  padding: 15px;

  .btn {
    border: none;
    color: rgb(194, 46, 78);
  }
  audio {
    width: 400px;
  }
  .btn:focus {
    outline: none;
  }
  audio:focus {
    outline: none;
  }
}
.search {
  width: 80%;
  margin-bottom: 20px;
  background-color: rgba(192, 192, 192, 0.274);
  border-radius: 30px;
  margin-top: 20px;
  &:focus {
    outline: none;
  }
}
